.create-room {
	text-align: center;
}

.create-room form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.create-room input {
	width: 300px;
	padding: 1rem;
	border-radius: 6px;
	margin: 0.5rem 0;
}
