#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
#homepageh1 {
    width: 100vw;
    text-align: center;
    span {
      font-size: 100px;
      text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
      transform: translate(0, 100%) rotate(4deg);
      animation: jump 2s ease-in-out infinite;
      display: inline-block;
      font-family: "Titan One", cursive;
      color: #fff;
  
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: 120ms * $i;
        }
      }
    }
  
  @keyframes jump {
    33% {
      text-shadow: 0 60px #f37121, 0 150px #f2aaaa;
    }
    50% {
      transform: translate(0, 0) rotate(-4deg);
      text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
    }
    67% {
      text-shadow: 0 -60px #d54062, 0 -150px #8fc0a9;
    }
  }
}
  #homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    padding: 0.5rem;
    max-width: 1200px;
    background-color: var(--secondary-color);
    border-radius: 12px;
  }
  
  .ui.animated.button {
    width: 250px;
  }
  
  a,
  p,
  button,
  input,
  label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #homeContent button {
    width: 35vw;
    margin: 0.5rem 0;
    padding: 1.25rem;
    box-shadow: 5px 5px 0 black;
    font-size: 18px;
    transition: 0.4s ease-in-out;
  }
  
  #homepage h1 {
    font-family: "Kanit", sans-serif;
	font-weight: 700;
  }
  
